<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%-include('./inc/head')%>
    </head>
</head>

<body>
    <%-include('./inc/nav')%>
        <section>
            <h1>Hakkimizda</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dolore alias similique expedita repellat dolor, quod cumque velit eaque error repudiandae, placeat cum nemo eos rerum maiores! A, vitae illum. Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Obcaecati tenetur quae enim magni voluptatum facilis doloribus quibusdam inventore facere numquam assumenda consectetur nihil qui, odio repellendus quas possimus ipsam non?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dolore alias similique expedita repellat dolor, quod cumque velit eaque error repudiandae, placeat cum nemo eos rerum maiores! A, vitae illum. Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Obcaecati tenetur quae enim magni voluptatum facilis doloribus quibusdam inventore facere numquam assumenda consectetur nihil qui, odio repellendus quas possimus ipsam non?</p>
        </section>

</body>

</html>